@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  @apply transition-colors duration-500;
}

body {
  width: 100%;
  max-width: 1580px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #dcdbd7;
  color: #222;
}

#root {
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: blacker_cond_med;
  src: url("./Assets/fonts/Zetafonts\ -\ Blacker\ Pro\ Text\ Condensed\ Medium\ Italic.otf");
}
@font-face {
  font-family: blacker_bold;
  src: url("./Assets/fonts/Zetafonts\ -\ Blacker\ Pro\ Display\ Medium\ Italic.otf");
}

@font-face {
  font-family: soria;
  src: url("./Assets/fonts/soria-font.ttf");
}

@font-face {
  font-family: Josefin_regular;
  src: url("./Assets/fonts/JosefinSans-Regular.ttf");
}
@font-face {
  font-family: Josefin_bold;
  src: url("./Assets/fonts/JosefinSans-BoldItalic.ttf");
}

@font-face {
  font-family: saira_con_bold;
  src: url("./Assets/fonts/Saira_SemiCondensed-Bold.ttf");
}
@font-face {
  font-family: saira_con_bold_extra;
  src: url("./Assets/fonts/Saira_SemiCondensed-LightItalic.ttf");
}
@font-face {
  font-family: montserrat_It_black;
  src: url("./Assets/fonts/Montserrat-BlackItalic.ttf");
}
@font-face {
  font-family: montserrat_black;
  src: url("./Assets/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: montserrat_med;
  src: url("./Assets/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: montserrat_sb;
  src: url("./Assets/fonts/Montserrat-SemiBoldItalic.ttf");
}

header + nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 100;
  display: none;
  opacity: 0;
  width: 0;
}

header + .responsiveDrawer {
  display: block;
  width: 100%;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.drawer {
  background-color: #0f172abf;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(175, 175, 175, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(144, 144, 144, 0.127);
  border-left: 2px solid rgba(144, 144, 144, 0.127);
}

@media (prefers-color-scheme: dark) {
  .glassmorphism {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(175, 175, 175, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.127);
    border-left: 2px solid rgba(255, 255, 255, 0.127);
  }
}

/* Blobs */

.blob_right {
  position: absolute;
  top: -7rem;
  right: -5rem;
  opacity: 0.3;
  width: 35%;
  aspect-ratio: 1/1;
  filter: blur(50px);
  border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
  background: linear-gradient(47deg, rgba(255, 60, 0), rgb(228, 204, 159) 91%);
  box-shadow: inset 50px 50px 17px 0px var(--color),
    inset 100px 100px 17px 0px rgba(255, 60, 0, 1);
  -webkit-filter: blur(50px);
}

.blob_right_dark {
  position: absolute;
  top: -7rem;
  right: -5rem;
  width: 35%;
  aspect-ratio: 1/1;
  filter: blur(50px);
  border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
  background: linear-gradient(47deg, rgba(255, 60, 0), rgb(228, 204, 159) 91%);
  box-shadow: inset 50px 50px 17px 0px var(--color),
    inset 100px 100px 17px 0px rgba(255, 60, 0, 1);
  -webkit-filter: blur(50px);
  opacity: 0.3;
}

.blob_center {
  position: absolute;
  top: -3rem;
  right: 40%;
  width: 45%;
  opacity: 0.6;
  aspect-ratio: 1/1;
  filter: blur(50px);
  border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
  background: linear-gradient(47deg, rgba(255, 60, 0), rgb(228, 204, 159) 91%);
  box-shadow: inset 50px 50px 17px 0px var(--color),
    inset 100px 100px 17px 0px rgba(255, 60, 0, 1);
  -webkit-filter: blur(50px);
}

.blob_center_dark {
  position: absolute;
  top: -3rem;
  right: 40%;
  width: 45%;
  aspect-ratio: 1/1;
  filter: blur(70px);
  border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
  background: linear-gradient(47deg, rgba(255, 60, 0), rgb(228, 204, 159) 100%);
  box-shadow: inset 50px 50px 17px 0px var(--color),
    inset 100px 100px 17px 0px rgba(255, 60, 0, 1);
  -webkit-filter: blur(70px);
  opacity: 0.35;
}

.blob_left {
  position: absolute;
  top: 0rem;
  left: -10rem;
  opacity: 0.3;
  width: 35%;
  aspect-ratio: 1/1;
  filter: blur(50px);
  border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
  background: linear-gradient(227deg, rgba(255, 60, 0), rgb(228, 204, 159) 91%);
  box-shadow: inset 50px 50px 17px 0px var(--color),
    inset 100px 100px 17px 0px rgba(255, 60, 0, 1);
  -webkit-filter: blur(50px);
}

.blob_left_dark {
  position: absolute;
  top: 0rem;
  left: -10rem;
  width: 35%;
  aspect-ratio: 1/1;
  filter: blur(50px);
  border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
  background: linear-gradient(227deg, rgba(255, 60, 0), rgb(228, 204, 159) 91%);
  box-shadow: inset 50px 50px 17px 0px var(--color),
    inset 100px 100px 17px 0px rgba(255, 60, 0, 1);
  -webkit-filter: blur(50px);
  opacity: 0.4;
}
